.iml
.idea
target
*.out
*.suo
*~
Debug
Release
*.ncb
*.user
cc/lib
cc/libd
templates.cc
templates.h
*.swp
runtimes/cc/win32/debug
runtimes/cc/win32/release
build
unix-build
win32-build
*.rule
/generator/java/templates/byte_arrays
/generator/hot.tab.h
