uint32_t serializedDataLength = 0;
::naeem::hottentot::runtime::Logger::GetOut() << "Serializing argument [[CURRENT_ARGUMENT_NAME]] ..." << std::endl;
unsigned char *serializedData = [[CURRENT_ARGUMENT_NAME]]->Serialize(&serializedDataLength);
::naeem::hottentot::runtime::Logger::GetOut() << "[[CURRENT_ARGUMENT_NAME]] is serialized." << std::endl;
request.AddArgument(serializedData, 
                    serializedDataLength);